.content {
    flex-grow: 1;
    flex-flow: column;
    align-self: flex-start;
}

.sidebar {
    border: 1px solid #d3d3d3;
    padding: 1% 0 1% 0;
    border-top: 0px;
    margin-left: 15px;

    &__item {
        padding: 8px;
        text-align: center;

        background-color: #fafafa;
        border: 1px solid #d3d3d3;
        border-radius: 4px;

        &:focus {
            color: #ffffff;
            background-color: #5c5959;
            text-decoration: none;
        }
    }
}

.view-data {
    margin-left: 10px;
    padding: 1% 0 0 0;
    height: 500px;
    width: 100%;
}

.row {
    width: 100%;
}
